[MESSAGES CONTROL]
disable=
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    duplicate-code,
    inconsistent-return-statements,
    arguments-differ,
    too-many-arguments,
    too-many-positional-arguments,
    too-few-public-methods,
    broad-exception-raised,
    invalid-name,
    assignment-from-no-return,
    global-statement,
    fixme,
    assignment-from-none,
    too-many-instance-attributes,
    too-many-lines,
    too-many-branches,
    too-many-nested-blocks,
    redefined-builtin,
    super-with-arguments,
    too-many-public-methods,
    no-member,
    too-many-return-statements